@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Colors */
  --AlmostWhite: hsl(0, 0%, 98%);
  --MediumGray: hsl(0, 0%, 41%);
  --AlmostBlack: hsl(0, 0%, 8%);
  --Red: hsl(0, 92%, 61%);
  /* Fonts */
  --Size: 18px;
  --Family: "Epilogue", sans-serif;
  --w500: 500;
  --w700: 700;
  /* Responsive */
  --Mobile: 375px;
  --Desktop: 1440px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--Family);
  background-color: var(--AlmostWhite);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem 0;
  width: 100%;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

header nav ul.menu {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 4rem;
  margin-top: -0.4rem;
}

header nav ul.menu li {
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}

header nav ul.menu li a.menu-link {
  color: var(--MediumGray);
  font-weight: var(--w500);
}

header nav ul.menu li:hover a.menu-link {
  color: var(--AlmostBlack);
}

header nav ul.menu li:hover a.menu-link img {
  transform: rotate(180deg);
}

header nav ul.submenu {
  position: absolute;
  background-color: #fff;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 0.6rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 10;
  display: none;
  visibility: hidden;
}

header nav ul.submenu li a {
  color: var(--MediumGray);
  font-weight: var(--w500);
}

header nav ul.submenu li:hover a {
  color: var(--AlmostBlack);
}

header nav ul li.m-1:hover ul.submenu {
  display: flex;
  visibility: visible;
}

.btn {
  padding: 0.8rem 1.4rem;
  border-radius: 14px;
  color: var(--MediumGray);
  cursor: pointer;
  font-weight: var(--w500);
}

.btn:hover {
  color: var(--AlmostBlack);
}

.btn.btn-register {
  border: 2px solid var(--MediumGray);
  margin-left: 1rem;
}

.btn.btn-register:hover {
  border: 2px solid var(--AlmostBlack);
}

.btn.btn-learn {
  border: 2px solid var(--AlmostBlack);
  background-color: var(--AlmostBlack);
  color: var(--AlmostWhite);
  padding: 1rem 1.8rem;
  font-size: 18px;
}

.btn.btn-learn:hover {
  border: 2px solid var(--AlmostBlack);
  background-color: var(--AlmostWhite);
  color: var(--AlmostBlack);
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

main .infor {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 860px;
  padding-top: 10rem;
}

main .infor h1 {
  font-size: 80px;
  color: var(--AlmostBlack);
}

main .infor p {
  font-size: 18px;
  font-weight: var(--w500);
  color: var(--MediumGray);
  margin: 4rem 0;
  line-height: 26px;
  width: 450px;
}

main .infor .brands {
  margin-top: 7rem;
}

main .infor .brands img {
  margin-right: 2.5rem;
}

main .image {
  width: 550px;
}

main .image img {
  width: 100%;
}
